    <!--javascript section-->
    
    <script src="/app.js"></script>
    <script src="/javasripts/portfolio.js"></script>
    <script src="/javasripts/jquery-2.2.0.min.js"></script>
    <script src="/javasripts/bootstrap.min.js"></script>
    
  </body>
</html>


    