<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/boostrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />  
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/donald" title="Donald">Donald</a></li>
        <li><a href="/patiricia" title="Patricia">Patricia</a></li>
        <li><a href="/mallory" title="Mallory">Mallory</a></li>
        <li><a href="/nicolette" title="Nicolette">Nicolette</a></li>
        <li><a href="/miles" title="Miles">Miles</a></li>
    </ul>
  </nav>