<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  -->
    <title><%= title %></title>
    <!--css section-->
    <link rel='stylesheet' href='./boostrap.min.css' />
    <link rel='stylesheet' href='./bootstrap-theme.min.css' />  
    <link rel='stylesheet' href='./font-awesome.min.css' /> 
    <link rel='stylesheet' href='./style.css' />
  </head>
  <body>
    <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="./projects" title="Projects">Projects</a></li>
        <li><a href="./about" title="About">About</a>
            <ul class="nav navbar-nav">
                <li><a href="./skills" title="Skills">Skills</a></li>
                <li><a href="./education" title="Education">Education</a></li>
                <li><a href="./goals" title="Goals">Goals</a></li>
                <li><a href="./awards" title="Awards">Accomplishments</a></li>
                <!--<li><a href="./volunteer" title="Volunteer">Volunteer</a></li>-->
            </ul></li>
        <!--<li><a href="./styleGuide" title="Style Guide">Style Guide</a></li>
        <li><a href="./branding" title="Branding Guidelines">Branding Guidelines</a></li>-->
        <li><a href="./contact" title="Contact">Contact</a></li>
        
    </ul>
  </nav>