<%- include partials/header.ejs%>
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./awards">Awards</a></li>
    </ol>
    
    <main class="container">
        <h2 id="awards"></h2>
        <ul>
            <li id="award1"></li>
            <li id="award2"></li>
            <li id="award3"></li>
            <li id="award4"></li>
            <li id="award5"> </li>
        </ul>

<%- include partials/footer.ejs%>