<%- include partials/header.ejs%>
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./awards">Awards</a></li>
    </ol>
    
    <main class="container">
        <h2 id="awards">Awards: </h2>
        <ul>
            <li id="award1">IBM’s Master the Mainframe Part 1 Winner</li>
            <li id="award2">Dean’s Council Computer Programmer Representative</li>
            <li id="award3">People’s Choice Award at the Georgian College Innovation Showcase</li>
            <li id="award4">IBM’s Choice Award at the Georgian College Innovation Showcase</li>
            <li id="award5">Dean’s List </li>
        </ul>

<%- include partials/footer.ejs%>