<%- include partials/header.ejs%>
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./awards">Awards</a></li>
    </ol>
    
    <main class="container">
        <h2 id="awards">Accomplishments:</h2>
        <ul class="list-unstyled">
            <li>IBM’s Master the Mainframe Part 1 Winner</li>
            <li>Dean’s Council Computer Programmer Representative</li>
            <li>People’s Choice Award at the Georgian College Innovation Showcase</li>
            <li>IBM’s Choice Award at the Georgian College Innovation Showcase</li>
            <li>Dean’s List</li>
        </ul>

        
<%- include partials/footer.ejs%>