<%- include partials/header.ejs%>
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./branding">Branding Guidelines</a></li>
    </ol>
    
    <main class="container">
        <p id="branding">Branding information here</p>

<%- include partials/footer.ejs%>