<%- include partials/header.ejs%>
        <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./contact">Contact</a></li>
    </ol>
    
    <main class="container">
        <p id="contact">Contact information here</p>

<%- include partials/footer.ejs%>
