<%- include partials/header.ejs%>
        
        <p>Meet <%=myName%>. He works hard as a Resort manager and enjoys being a farmer on the side.</p>


    <script src="/javascripts/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>