<%- include partials/header.ejs%>
        <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./education">Education</a></li>
    </ol>
    
    <main class="container">
        <p id="education">Education information here </p>


<%- include partials/footer.ejs%>