<%- include partials/header.ejs%>
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./education">Education</a></li>
    </ol>

    <main class="container">
        <h2 id="education"></h2>
        <dl>
            <dt id="georgian"></dt>
            <dd id="georgian1"></dd>
            <dd id="georgian2"></dd>
            <dd id="georgian3"></dd>
            <dd id="georgian4"></dd>
        </dl>
        <dl>
            <dt id="delta"></dt>
            <dd id="delta1"></dd>

        </dl>
        <dl>
            <dt id="ottawa"></dt>
            <dd id="ottawa1"></dd>
        </dl>



        <%- include partials/footer.ejs%>