<%- include partials/header.ejs%>
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./education">Education</a></li>
    </ol>

    <main class="container">
        <h2 id="education">Education:</h2>
        <dl>
            <dt id="georgian">Georgian College:</dt>
            <dd id="georgian1">Interactive Web Design and Development - Current</dd>
            <dd id="georgian2">Computer Programmer - 2015</dd>
            <dd id="georgian3">Work Smart Certificate - 2013</dd>
            <dd id="georgian4">Bartending 101 - 2005</dd>
        </dl>
        <dl>
            <dt id="delta">Delta Training Program</dt>
            <dd id="delta1">Introduction to Management - 2009</dd>

        </dl>
        <dl>
            <dt id="ottawa">University of Ottawa:</dt>
            <dd id="ottawa1">Journalism - 2006</dd>
        </dl>



        <%- include partials/footer.ejs%>