<%- include partials/header.ejs%>
        <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./goals">Goals</a></li>
    </ol>
    
    <main class="container">
        <h2 id="goals">Goals:</h2>
        <ul>
            <li id="goal1"></li>
            <li id="goal2"></li>
            <li id="goal3"></li>
        </ul>


<%- include partials/footer.ejs%>