<%- include partials/header.ejs%>
        <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./goals">Goals</a></li>
    </ol>
    
    <main class="container">
        <p id="goals">Goals information here</p>


<%- include partials/footer.ejs%>