<%- include partials/header.ejs%>
        <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./goals">Goals</a></li>
    </ol>
    
    <main class="container">
        <h2 id="goals">Goals:</h2>
        <ul>
            <li>Travel the world</li>
            <li>Retire at age 40</li>
            <li>Volunteer abroad</li>
        </ul>


<%- include partials/footer.ejs%>