<%- include partials/header.ejs%>
<!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>

    </ol>
    
    <main class="container">
    <h2 id="missionStatement"></h2>
    <p id="missionParagraph"></p>

    <script src="/javascripts/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>

