<%- include partials/header.ejs%>
        
        <p>Meet <%=myName%>. She is currently a student at Georgian College and also works for the Ministry of 
        Education. She enjoys playing volleyball in her free time.</p>
        

    <script src="/javascripts/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>