<%- include partials/header.ejs%>
        
        <p>Meet <%=myName%>. He just became a father and works full time as a roofer in Winnipeg. 
        The rest of his family doesn't understand why anyone would want to live in Manitoba.</p>


    <script src="/javascripts/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>