<%- include partials/header.ejs%>
        <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./projects">Projects</a></li>
    </ol>
    
    <main class="container">
        <p id="projects">Projects information here</p>
        

<%- include partials/footer.ejs%>