<%- include partials/header.ejs%>
        <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./projects">Projects</a></li>
    </ol>
    
    <main class="container">
        <h2 id="projects">Recent Projects:</h2>
        <h3>Aboriginal and Northern Development Canada</h3>
        <img src="./images/aandc.png" alt="aboriginal and northern development home page" id="aandc" height="100" width="100"/>
        <p id="aandcParagraph">This is the federal website for Aboriginal and Northern Development Canada. I worked with a team of programmers to update the website to current HTML5 and ensure all content was compliant to the Web Content Accessibility Guidelines.</p>
        
        <h3>Albatross Motel</h3>
        <img src="./images/albatross.png" alt="albatross motel home page" id="albatross" height="100" width="100"/>
        <p id="albatrossParagraph">The Albatross Motel is located near the main end in Wasaga Beach. This is a small business wordpress website currently being customized.</p>
        
        <h3>The Beautie Lounge</h3>
        <img src="./images/jess.png" alt="the beautie lounge home page" id="beautieLounge" height="100" width="100"/>
        <p id="beautieLoungeParagraph">A small business wordpress website for a local self employed beauty consultant and make up artist.</p>
        

<%- include partials/footer.ejs%>