<%- include partials/header.ejs%>
        <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./projects">Projects</a></li>
    </ol>
    
    <main class="container">
        <h2 id="projects">Recent Projects:</h2>
        <img src="./images/aandc.png" alt="aboriginal and northern development home page" id="aandc"/>
        <p id="aandcParagraph"></p>
        
        <img src="./images/albatross.png" alt="albatross motel home page" id="albatross"/>
        <p id="albatrossParagraph"></p>
        
        <img src="./images/jess.png" alt="the beautie lounge home page" id="beautieLounge"/>
        <p id="beautieLoungeParagraph"></p>
        

<%- include partials/footer.ejs%>