<%- include partials/header.ejs%>
        <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./skills">Skills</a></li>
    </ol>
    
    <main class="container">
        <h2 id="skills">Skills:</h2>
        <ul>
            <li id="skill1">Ability to work with others as a team player towards a common goal</li>
            <li id="skill2">Excellent written and verbal communication skills with an eye for detail</li>
            <li id="skill3">Positive and accommodating personality</li>
            <li id="skill4">Ambitious to take initiative and continue learning</li>
            <li id="skill5">Efficient at multi-tasking and problem solving</li>
            <li id="skill6">Experience in a leadership role as well as a mentorship program exercised in the workplace.</li>       
        </ul>



<%- include partials/footer.ejs%>