<%- include partials/header.ejs%>
        <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./skills">Skills</a></li>
    </ol>
    
    <main class="container">
        <h2 id="skills"></h2>
        <ul>
            <li id="skill1"></li>
            <li id="skill2"></li>
            <li id="skill3"></li>
            <li id="skill4"></li>
            <li id="skill5"></li>
            <li id="skill6"></li>       
        </ul>



<%- include partials/footer.ejs%>