<%- include partials/header.ejs%>
        <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./skills">Skills</a></li>
    </ol>
    
    <main class="container bg-success">
        <h2 id="skills">Skills: </h2>
        <ul class="list-unstyled center-block">
            <li>Ability to work with others as a team player towards a common goal</li>
            <li>Excellent written and verbal communication skills with an eye for detail</li>
            <li>Positive and accommodating personality</li>
            <li>Ambitious to take initiative and continue learning</li>
            <li>Efficient at multi-tasking and problem solving</li>
            <li>Experience in a leadership role as well as a mentorship program exercised in the workplace.</li>     
        </ul>


<%- include partials/footer.ejs%>