<%- include partials/header.ejs%>
        <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="./index">Home</a></li>
        <li><a href="./volunteer">Volunteer</a></li>
    </ol>
    
    <main class="container">
        <p id="volunteer">Volunteer information here</p>

<%- include partials/footer.ejs%>